# Road Accident Prediction and Classification
###### Ameer Azam ,Sallu,Nehal

In [1]:
#importing OS module which for directory acccess and view
import os

# print(os.getcwd())
# os.getcwd()
# print(os.listdir('..'))
# print(os.listdir('../anacond'))

### Introduction

 There are some questions that can be answered using this data such as -
- What are the regions or areas with most frequent accidents?
- What kind of street or highways are more liekly to have accidents?
- What are the age group are most likely to be involved in accidents?
- What are the areas with higher accident severity or lower accident severity?
   
There are endless questions that can be answered with this dataset. We will be answering few of the questions as I mentioned above. We will also figure out some way to implement the machine learning on this dataset and see what we can come up with.

## Importing Data and cleaning
- We import three files to perform analysis on this data. This data is consist of three files that are accidents, casualities and vehicles. However, we have one more file which is general information about the traffic count for year 2000 to 2015. We can use general traffic information data for machine learning part.

In [2]:
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
# from mpl_toolkits.basemap import Basemap
from sklearn.model_selection import TimeSeriesSplit
plt.style.use('ggplot')
%config InlineBackend.figure_format = 'retina'
import warnings
warnings.filterwarnings('ignore')

In [4]:
# using python package TQDM to download dataset locally on colab 
!pip install tqdm
import requests
import os
from tqdm import tqdm

Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/6c/4b/c38b5144cf167c4f52288517436ccafefe9dc01b8d1c190e18a6b154cd4a/tqdm-4.31.1-py2.py3-none-any.whl (48kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.31.1

You are using pip version 18.0, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [5]:
# function for input to tqdm
def download_dataset(file_url, name):
    r = requests.get(file_url, stream=True) 

    with open(name, "wb") as file: 
        for chunk in tqdm(r.iter_content(chunk_size=1024)): 
             if chunk: file.write(chunk)
                
    print('Download complete.')

In [7]:
print(os.listdir('.'))

['.ipynb_checkpoints', 'accidents-data', 'AccidentsBig.csv', 'azure-FULL-uk-traffic-accidents.ipynb', 'azuremlFULL-uk-traffic-accidents.ipynb', 'casualties.csv', 'CasualtiesBig.csv', 'colabazuremlFULL_uk_traffic_accidents.ipynb', 'final-1.ipynb', 'full-import.ipynb', 'FULL-uk-traffic-accidents.ipynb', 'i-data', 'litemodel.sav', 'others report', 'outputs', 'RAPC-outputs.pptx', 'review-2-traffic-accidents.ipynb', 'review-3-traffic-accidents.ipynb', 'SampleIrisClassifierNotebook_py.ipynb', 'saved-colabazuremlFULL_uk_traffic_accidents.ipynb', 'savedmodel.sav', 'Untitled.ipynb', 'VehiclesBig.csv']

In [10]:
accidents = pd.read_csv('accidentsBig.csv',index_col='Accident_Index')
vehicles= pd.read_csv('vehiclesBig.csv', error_bad_lines=False,index_col='Accident_Index',warn_bad_lines=False)
casualties = pd.read_csv('casualtiesBig.csv', error_bad_lines=False, index_col='Accident_Index', warn_bad_lines=False)
print('Loaded')

# accidents=accidents.head(200000)

# vehicles=vehicles.head(200000)

# casualties=casualties.head(200000)

Loaded

In [12]:
print("accidents")
print("size=",accidents.size)
print(accidents.shape)
accidents.head()

accidents
size= 55200243
(1780653, 31)

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,...,0,1,1,2,2,0,0,1,1,E01002849
200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,...,0,5,4,1,1,0,0,1,1,E01002909
200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002857
200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002840
200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,...,0,0,7,1,2,0,0,1,1,E01002863

In [ ]:
print("vehicles")
print("size=",vehicles.size)
print(vehicles.shape)
vehicles.head()

vehicles
('size=', 4200000)
(200000, 21)

,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,1,9,0,18,0,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
200501BS00002,1,11,0,4,0,3,0,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
200501BS00003,1,11,0,17,0,0,0,4,0,0,...,1,1,1,35,6,8300,2,5,2,1
200501BS00003,2,9,0,2,0,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
200501BS00004,1,9,0,18,0,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

In [ ]:
print("casualties")
print("size=",casualties.size)
print(casualties.shape)
casualties.head()

casualties
('size=', 2800000)
(200000, 14)

,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
Accident_Index,,,,,,,,,,,,,,
200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

In [13]:
accidents = accidents.join(vehicles, how='outer')
print("done joining")
print(accidents.shape)

done joining
(3144481, 52)

#joining the tables

## Identifying Missing Values

In this particular dataset, there are two types of missing values '-1' and 'Nan'. We will invesitigate each column with total missing values.
We will not be imputing any mean or median value since the dataset is big enough to perform analysis.

In [14]:
# accidents.drop(['Location_Easting_OSGR', 'Location_Northing_OSGR','LSOA_of_Accident_Location',
#                 'Junction_Control' ,'2nd_Road_Class'], axis=1, inplace=True)

#combining two columns
accidents['Date_time'] = accidents['Date'] +' '+ accidents['Time']

for col in accidents.columns:
    accidents = (accidents[accidents[col]!=-1])
    #print(col ,' ' , x)
for col in casualties.columns:
    casualties = (casualties[casualties[col]!=-1])

accidents['Date_time'] = pd.to_datetime(accidents.Date_time)
accidents.drop(['Date','Time'],axis =1 , inplace=True)
accidents.dropna(inplace=True)

Our dataset is clean to do some analysis. We would be using very few columns to do analysis since the dataset is fairly large.

# Data Visualization

#### The first thing we can do is to find out about accidents time to get intution and some driver's age who are involved in the accident.
- We can find out the number of accidents on the days of a week.
- We can find out about the accidents number using hours of the day.
- Finding out about the age of driver can tell us more about the accidents.

In [ ]:
# plt.figure(figsize=(12,6))
# accidents.Date_time.dt.dayofweek.hist(bins=7,rwidth=0.55,alpha=0.5, color= 'orange')
# plt.title('Accidents on the day of a week' , fontsize= 30)
# plt.grid(False)
# plt.ylabel('Accident count' , fontsize = 20)
# plt.xlabel('0 - Sunday ,  1 - Monday  ,2 - Tuesday , 3 - Wednesday , 4 - Thursday , 5 - Friday , 6 - Saturday' , fontsize = 13)

As we can see that thursday has the highest amount of accidents in this dataset from 2005 to 2015. We have to keep in mind that accidents numbers could be depending on traffic amount on particular day.

In [ ]:
# plt.figure(figsize=(12,6))
# accidents.Date_time.dt.hour.hist(rwidth=0.75,alpha =0.50, color= 'orange')
# plt.title('Time of the day/night',fontsize= 30)
# plt.grid(False)
# plt.xlabel('Time 0-23 hours' , fontsize = 20)
# plt.ylabel('Accident count' , fontsize = 15)

We found out that the most of accidents happened around after noon. We can assume that this time of the day has the most traffic moving such as people leaving from work.


#### Age band of casualities

In this dataset, age band is grouped in 11 different codes. We will create the labels and pass it to the plot as xticks so we can have idea about the bins representation.

In [ ]:
# objects = ['0','0-5','6-10','11-15','16-20','21-25','26-35',
#           '36-45', '46-55','56-65','66-75','75+']

# plt.figure(figsize=(12,6))
# casualties.Age_Band_of_Casualty.hist(bins = 11,alpha=0.5,rwidth=0.90, color= 'red',)
# plt.title('Age of people involved in the accidents', fontsize = 25)
# plt.grid(False)
# y_pos = np.arange(len(objects))
# plt.xticks(y_pos , objects)
# plt.ylabel('Accident count' , fontsize = 15)
# plt.xlabel('Age of Drivers', fontsize = 15,)

This is very interesting fact about this dataset. Most of the drivers age is around 225 to 35 who are involved in the accident. However, we do not know the number of drivers with age 25 to 35 on the road compare to other ages. Intutively, I would assume that the driver with age 25 to 35 are more in the number of drivers with different age.

In [ ]:
# speed_zone_accidents = accidents.loc[accidents['Speed_limit'].isin(['20' ,'30' ,'40' ,'50' ,'60' ,'70'])]
# speed  = speed_zone_accidents.Speed_limit.value_counts()

# explode = (0.0, 0.0, 0.0 , 0.0 ,0.0,0.0) 
# plt.figure(figsize=(10,8))
# plt.pie(speed.values,  labels=None, 
#         autopct='%.1f',pctdistance=0.8, labeldistance=1.9 ,explode = explode, shadow=False, startangle=160,textprops={'fontsize': 15})
 
# plt.axis('equal')
# plt.legend(speed.index, bbox_to_anchor=(1,0.7), loc="center right", fontsize=15, 
#            bbox_transform=plt.gcf().transFigure)
# plt.figtext(.5,.9,'Accidents percentage in Speed Zone', fontsize=25, ha='center')
# plt.show()

Most of the accidents occured on the road where the speed limit is 30. I was expecting more accidents on highway or major roadways. Some of the accidents could be cause of stop sign, changing lanes or turning into parking lot etc.

## Co-relation between variables

Since our dataset is in numeric values. We can findout correlation between columns.

In [ ]:
# corr =  accidents.corr()
# plt.subplots(figsize=(20,9))
# sns.heatmap(corr)

As we see that there is not so much strong correlations between any variables. I was expecting weather condition to be strong correlation with any of the variable. 
- There is only one postiive strong correlation between speed limit and Urban or Rural Area.

In [ ]:
# accidents_2014 = accidents[accidents.Date_time.dt.year ==2014]
# accidents_2014_01 = accidents_2014[accidents_2014.Accident_Severity == 1]
# accidents_2014_02 = accidents_2014[accidents_2014.Accident_Severity == 2]
# accidents_2014_03 = accidents_2014[accidents_2014.Accident_Severity == 3]
# print("done")

##  Google Maps

Plotting accidents Location on Google Maps
Now we will be using google maps to plot the accidents. Using longitude and latitude information, we can see what area has the most accidents. However, it actually depends on how much traffic the area has. We can also get the idea of busiest area even if we do not want to look at just accidents. The accident plots acan give us really good idea about traffic in any area of the UK.

Also, I have taken the screenshot of output plots so it can be seen when saved in html or pdf format.

In [ ]:
# ! pip install gmaps
# #!jupyter nbextension enable --py gmaps
# import gmaps
# from ipywidgets.embed import embed_minimal_html
# gmaps.configure(api_key='AIzaSyDFOjxJ23DfYRLTqEuNsgnqwP0E79Aybpk')

# fig = gmaps.figure(center=(53.0, 1.0), zoom_level=6)
# heatmap_layer = gmaps.heatmap_layer(accidents_2014_01[["Latitude", "Longitude"]],
#                                     max_intensity=30,point_radius=5)
# heatmap_layer = gmaps.heatmap_layer(accidents_2014_02[["Latitude", "Longitude"]],
#                                     max_intensity=5,point_radius=3)
# heatmap_layer = gmaps.heatmap_layer(accidents_2014_03[["Latitude", "Longitude"]],
#                                     max_intensity=1,point_radius=1)
# fig.add_layer(heatmap_layer)
# fig
# embed_minimal_html('export1.html', views=[fig])

In [ ]:
# import matplotlib.image as mpimg
# plt.figure(figsize=(18,8))
# img=mpimg.imread('../input/photos/map1.png')
# imgplot = plt.imshow(img)
# plt.grid(False)
# plt.show()

In [ ]:
# import gmaps
# gmaps.configure(api_key="AIzaSyDFOjxJ23DfYRLTqEuNsgnqwP0E79Aybpk") 

# maps_df = accidents_2014_01[['Latitude', 'Longitude']]
# maps_layer = gmaps.symbol_layer(
#    maps_df, fill_color="green", stroke_color="red", scale=1
# )
# fig = gmaps.figure()
# fig.add_layer(maps_layer)
# fig
# print("done")

In [ ]:
# import matplotlib.image as mpimg
# plt.figure(figsize=(18,8))
# img=mpimg.imread('../input/photos/map2.png')
# imgplot = plt.imshow(img)
# plt.grid(False)
# plt.show()

As we can see that most of fatal accidents happened locally within cities instead on highways. It could be the reason of the traffic is more congested locally than on highways.

# Machine Learning

We will be looking at different columns to figure out predicting about the accidents severity. After we can predict the accident severity, we can make some recommendation to law enforcement for looking into this and be prepared for the future. We can also have more emergency medical services available for those situations.

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import log_loss
print("done")

done

## Normalize the Data
There are few columns that we will standarize, so it would not effect negatively on our machine learning algorithms. Age of driver is from 18 to 88 in the dataset and we can normalize it. Also, the age of vehicle is also from 0 to 100 and it can skew the performance of your machine learning algorithm and we will normalize this predictor too.

In [ ]:
# sns.distplot(accidents['Age_of_Driver']);
# fig = plt.figure()
# sns.distplot(accidents['Age_of_Vehicle']);
# fig = plt.figure()
# print("done")

In [16]:

accidents['Age_of_Driver'] = np.log(accidents['Age_of_Driver'])
accidents['Age_of_Vehicle'] = np.log(accidents['Age_of_Vehicle'])
# sns.distplot(accidents['Age_of_Driver']);
# fig = plt.figure()
# sns.distplot(accidents['Age_of_Vehicle']);
# fig = plt.figure()
print("done")

done

In [17]:
accidents.head()

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,Date_time
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,5,12,...,15.0,1.0,3.713572,7.0,4266.0,1.0,1.386294,6.0,1.0,2005-01-13 20:40:00
200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,7,12,...,15.0,1.0,3.555348,6.0,1998.0,1.0,2.564949,3.0,1.0,2005-01-15 22:43:00
200501BS00011,524550.0,180810.0,-0.206531,51.512443,1,3,2,5,7,12,...,1.0,1.0,3.737670,7.0,8268.0,2.0,0.693147,2.0,1.0,2005-01-15 16:00:00
200501BS00012,526240.0,178900.0,-0.182872,51.494902,1,3,1,1,1,12,...,15.0,1.0,3.526361,6.0,1988.0,1.0,1.791759,4.0,1.0,2005-01-16 00:42:00
200501BS00014,526170.0,177690.0,-0.184312,51.484044,1,3,2,1,3,12,...,15.0,2.0,2.944439,4.0,1124.0,1.0,2.079442,8.0,1.0,2005-01-25 20:48:00

## Spliting the data into training data and test data
We will also consider few features as predictors for machine learning algorithm.

In [ ]:
accident_ml = accidents.drop('Accident_Severity' ,axis=1)
accident_ml = accident_ml[['Did_Police_Officer_Attend_Scene_of_Accident' , 'Age_of_Driver' ,'Vehicle_Type', 'Age_of_Vehicle','Engine_Capacity_(CC)','Day_of_Week' , 'Weather_Conditions' , 'Road_Surface_Conditions'
                          , 'Light_Conditions', 'Sex_of_Driver' ,'Speed_limit']]

accident_ml.head()

# Split the data into a training and test set.
X_train, X_test, y_train, y_test = train_test_split(accident_ml.values, 
                                              accidents['Accident_Severity'].values,test_size=0.20, random_state=99)
print("done")

done

In [18]:
# y_train[100:200]
# print(np.argmin(y_train))
print(y_train[365])
print(X_train[365])

NameError: name 'y_train' is not defined

In [ ]:
# X_train[]
accident_ml.head()

,Did_Police_Officer_Attend_Scene_of_Accident,Age_of_Driver,Vehicle_Type,Age_of_Vehicle,Engine_Capacity_(CC),Day_of_Week,Weather_Conditions,Road_Surface_Conditions,Light_Conditions,Sex_of_Driver,Speed_limit
Accident_Index,,,,,,,,,,,
200501BS00007,1,3.713572,9.0,1.386294,4266.0,5,1,1,4,1.0,30
200501BS00010,1,3.555348,9.0,2.564949,1998.0,7,1,1,4,1.0,30
200501BS00011,1,3.737670,11.0,0.693147,8268.0,7,1,1,1,1.0,30
200501BS00012,1,3.526361,9.0,1.791759,1988.0,1,1,1,4,1.0,30
200501BS00014,1,2.944439,9.0,2.079442,1124.0,3,1,2,4,2.0,30

In [ ]:
X_train[0]

array([1.00000000e+00, 3.61091791e+00, 9.00000000e+00, 2.39789527e+00,
       2.98000000e+03, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 2.00000000e+00, 3.00000000e+01])

## Random Forest

In [ ]:
random_forest = RandomForestClassifier(n_estimators=200)
random_forest.fit(X_train,y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_test, y_test)
acc_random_forest1 = round(random_forest.score(X_test, y_test) * 100, 2)

sk_report = classification_report(
    digits=6,
    y_true=y_test, 
    y_pred=Y_pred)
print("Accuracy" , acc_random_forest1)
print(sk_report)
pd.crosstab(y_test, Y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

print("done")

('Accuracy', 88.97)
              precision    recall  f1-score   support

           1   0.400000  0.016807  0.032258       119
           2   0.190141  0.023356  0.041602      1156
           3   0.898131  0.990104  0.941878     11015

   micro avg   0.889748  0.889748  0.889748     12290
   macro avg   0.496090  0.343423  0.338579     12290
weighted avg   0.826714  0.889748  0.848390     12290

done

In [ ]:
sk_report = classification_report(
    digits=6,
    y_true=y_test, 
    y_pred=Y_pred)
print("Accuracy" , acc_random_forest1)
print(sk_report)
pd.crosstab(y_test, Y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

print("done")

('Accuracy', 88.97)
              precision    recall  f1-score   support

           1   0.400000  0.016807  0.032258       119
           2   0.190141  0.023356  0.041602      1156
           3   0.898131  0.990104  0.941878     11015

   micro avg   0.889748  0.889748  0.889748     12290
   macro avg   0.496090  0.343423  0.338579     12290
weighted avg   0.826714  0.889748  0.848390     12290

done

In [ ]:
#Predict
# sample = [7.0,3.2,4.7,1.4]
# print("done")
# sample.reshape(1, -1)
# result = clf.predict(sample).reshape(1, -1)
# result.reshape(1,-1)



print(accident_ml.head())
print(X_train.shape)
print(X_train[0])
print("done")

                Did_Police_Officer_Attend_Scene_of_Accident  Age_of_Driver  \
Accident_Index
200501BS00007                                             1       3.713572
200501BS00010                                             1       3.555348
200501BS00011                                             1       3.737670
200501BS00012                                             1       3.526361
200501BS00014                                             1       2.944439

                Vehicle_Type  Age_of_Vehicle  Engine_Capacity_(CC)  \
Accident_Index
200501BS00007            9.0        1.386294                4266.0
200501BS00010            9.0        2.564949                1998.0
200501BS00011           11.0        0.693147                8268.0
200501BS00012            9.0        1.791759                1988.0
200501BS00014            9.0        2.079442                1124.0

                Day_of_Week  Weather_Conditions  Road_Surface_Conditions  \
Accident_Index
200501BS00007             5                   1                        1
200501BS00010             7                   1                        1
200501BS00011             7                   1                        1
200501BS00012             1                   1                        1
200501BS00014             3                   1                        2

                Light_Conditions  Sex_of_Driver  Speed_limit
Accident_Index
200501BS00007                  4            1.0           30
200501BS00010                  4            1.0           30
200501BS00011                  1            1.0           30
200501BS00012                  4            1.0           30
200501BS00014                  4            2.0           30
(56, 11)
[  1.           3.73766962   3.           0.69314718 125.
   4.           1.           1.           1.           1.
  30.        ]
done

In [1]:
Y_pred = random_forest.predict(X_test[365].reshape(1, -1))
print(Y_pred)

NameError: ignored

In [ ]:
#connecting to GOOGLE DRIVE and saving the model 
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}
!mkdir -p drive
!google-drive-ocamlfuse drive


print("done connecting to google drive")

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 131323 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.1-0ubuntu3~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.1-0ubuntu3~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.1-0ubuntu3~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.
done connecting to google drive

In [ ]:
!ls

accidents.csv  adc.json  casualties.csv  drive	sample_data  vehicles.csv

In [ ]:
from sklearn.externals import joblib
modelfile="drive/litemodel.sav"
joblib.dump(random_forest,modelfile)

['drive/litemodel.sav']

In [ ]:
# load the model from drive
loaded_model= joblib.load(modelfile)
# result=loaded_model.score(X_test, y_test)
# print(result) 
loaded_model
print("loaded model")

1.0
loaded model

In [ ]:
X_train.head()

NameError: ignored

In [ ]:
X_train[0]

In [ ]:
X= [1.00000000e+00,3.17805383e+00 , 9.00000000e+00 , 2.70805020e+00,1.67900000e+03,6.00000000e+00,1.00000000e+00,1.00000000e+00,1.00000000e+00,1.00000000e+00,3.00000000e+01]
# X= [3.5,11,1.6,8300.0,5,1,1,1,1,30]
X= np.array([  1.        ,   3.73766962,   3.        ,   0.69314718,
       125.        ,   4.        ,   1.        ,   1.        ,
         1.        ,   1.        ,  30.        ])
# Y = loaded_model.predict(X_train[0].reshape(1, -1))
Y = loaded_model.predict(X.reshape(1, -1))
print(Y) #printed the

[3]

In [ ]:
#Check the result
# result[0]
# X=[200501BS00003, 
# 3.555348,  
# 11.0, 
# 1.609438, 
# 8300.0,
# 5,         
# 1,  # Weather_Conditions =int
# 1,  #Road_Surface_Conditions=int
# 1,           #Light_Conditions=int
# 1.0,            #Sex_of_Driver=float
# 30]            #Speed_limit=int
# Y = loaded_model.predict(X)
# print(Y)
# # loaded_model.score(X_test, y_test)

SyntaxError: ignored

In [ ]:
# !pip install azureml

from azureml import services
@services.publish('f8311c4e9dd942c4b5fb2b322c164a59', 'tk6XlAPlYCw+cAbzvQsMREYwgR6OHrY4o/1Xjg82Rqlt+aHo89SXHtLseUc0Dn3VYrQzl+3q8UTzIgnw5b36EA==')
@services.types(Accident_Index = int, Age_of_Driver = float, Vehicle_Type=float , 
                Age_of_Vehicle = float, Engine_Capacity_CC = float, Day_of_Week = int,
                Weather_Conditions =int, Road_Surface_Conditions=int,Light_Conditions=int, Sex_of_Driver=float, Speed_limit=int)
@services.returns(int) 
# 0,or 1,or 2

def predictAccident2(Accident_Index, Age_of_Driver, Vehicle_Type, Age_of_Vehicle, Engine_Capacity_CC, Day_of_Week, Weather_Conditions, Road_Surface_Conditions, Light_Conditions,Sex_of_Driver, Speed_limit):
 inputArray = [Accident_Index, Age_of_Driver, Vehicle_Type, Age_of_Vehicle, Engine_Capacity_CC, Day_of_Week, Weather_Conditions, Road_Surface_Conditions, Light_Conditions, Sex_of_Driver, Speed_limit]
 Re = random_forest.predict(inputArray)
 return Re[0]

In [ ]:
dir(predictAccident2)

In [ ]:
# @services.types(Accident_Index = int, Age_of_Driver = float, Vehicle_Type=float , 
#                 Age_of_Vehicle = float, Engine_Capacity_CC = float, Day_of_Week = int,
#                 Weather_Conditions =int, Road_Surface_Conditions=int,Light_Conditions=int, Sex_of_Driver=float, Speed_limit=int)

# predictAccident2.service( 200501BS00003 ,   
#                          3.555348,  #Age_of_Driver = float
#                          11.0,  #Vehicle_Type=float
#                          1.609438, #Age_of_Vehicle = float,
#                          8300.0, # Engine_Capacity_CC = float
#                          5,          #Day_of_Week = int  
#                          1,  # Weather_Conditions =int
#                          1,  #Road_Surface_Conditions=int
#                          1,           #Light_Conditions=int
#                          1.0,            #Sex_of_Driver=float
#                          30)             #Speed_limit=int

In [ ]:
# predictAccident.service.help_url

In [ ]:
# predictAccident.service.url

In [ ]:
# predictAccident.service.api_key

## Logistic Regression

In [ ]:
# lr = LogisticRegression()
# # Fit the model on the trainng data.
# lr.fit(X_train, y_train)
# y_pred = lr.predict(X_test)
# sk_report = classification_report(
#     digits=6,
#     y_true=y_test, 
#     y_pred=y_pred)
# print("Accuracy", round(accuracy_score(y_pred, y_test)*100,2))
# print(sk_report)
# pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

## Decision Tree

In [ ]:
# decision_tree = DecisionTreeClassifier()
# decision_tree.fit(X_train, y_train)
# Y_pred = decision_tree.predict(X_test)
# acc_decision_tree1 = round(decision_tree.score(X_test, y_test) * 100, 2)
# sk_report = classification_report(
#     digits=6,
#     y_true=y_test, 
#     y_pred=Y_pred)
# print("Accuracy", acc_decision_tree1)
# print(sk_report)
# ### Confusion Matrix 
# pd.crosstab(y_test, Y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

As we can see that Logistic regression did pretty well in terms of number. If we look carefully at the confusion matrix. We can definitely tell that Decision tree algorithm did much better. It predicted more fatal and serious injuries as true positive. The accuracy score is lower compare to another algorithm because other algorithm predicted majority of slightly accidents and those numbers are really high overall in the dataset. Confusion matrix helps us to understand what algorithm actually worked better in terms of looking at all different prediction of each class.

# Hyperparameters tuning for the models

### Logistic Regression with Hyperparameter tuning

In [ ]:
# from sklearn.linear_model import LogisticRegressionCV
# lr = LogisticRegressionCV(cv=3, random_state=0,multi_class='multinomial')
# # Fit the model on the trainng data.
# lr.fit(X_train, y_train)
# y_pred = lr.predict(X_test)
# sk_report = classification_report(
#     digits=6,
#     y_true=y_test, 
#     y_pred=y_pred)
# print("Accuracy", round(accuracy_score(y_pred, y_test)*100,2))
# print(sk_report)
# pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

As we can see that Logistic regression still didn't predict two classes of accident severity out of 3. Even though it is showing the 86.2% accuracy.

### Decision Tree hyperparameters tuning

All we are going to do is find the best values for mininum sample leaf and maximum features to get the best score.

In [ ]:
# decision_tree = DecisionTreeClassifier(min_samples_leaf=12, max_features=4)
# decision_tree.fit(X_train, y_train)
# Y_pred = decision_tree.predict(X_test)
# acc_decision_tree1 = round(decision_tree.score(X_test, y_test) * 100, 2)
# sk_report = classification_report(
#     digits=6,
#     y_true=y_test, 
#     y_pred=Y_pred)
# print("Accuracy", acc_decision_tree1)
# print(sk_report)
# ### Confusion Matrix 
# pd.crosstab(y_test, Y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

We really didn't see much difference in Accident severity 1 and 2. However we did improve the accuracy of Accident severity 3. It jumped the accuracy from 75.1% to 85.8%.

###  Random Forest Hyperparameter tuning
First, we will see the default parameters of the random forest model before we tune the parameters.

In [ ]:
# random_forest.get_params()

We will implement the grid search using sklearn library.

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV
# param_grid = {
#     'bootstrap': [True],
#     'max_depth': [80, 90, 100, 110],
#     'max_features': [4, 5],
#     'min_samples_leaf': [5, 10, 15],
#     'min_samples_split': [8, 10, 12],
#     'n_estimators': [100, 200, 300]
# }
# # Create a based model
# random_f = RandomForestClassifier()
# # Instantiate the grid search model
# grid_search = RandomizedSearchCV(estimator = random_f, param_distributions = param_grid, 
#                           cv = 3, n_jobs = -1, verbose = 2)

# grid_search.fit(X_train,y_train)

## Feature importance
We can use Sklearn's random forest library to find out the most important features. We will be plotting in  ascending order so we know what features are most important to predict the accident severity.

In [ ]:
plt.figure(figsize=(12,6))
feat_importances = pd.Series(random_forest.feature_importances_, index=accident_ml.columns)
feat_importances.nlargest(5).plot(kind='barh')

In [ ]:
# Y_pred = grid_search.predict(X_test)
# acc_random_forest1 = round(grid_search.score(X_test, y_test) * 100, 2)

# sk_report = classification_report(
#     digits=6,
#     y_true=y_test, 
#     y_pred=Y_pred)
# print("Accuracy" , acc_random_forest1)
# print(sk_report)
# pd.crosstab(y_test, Y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

Random forest took lots of time to tune the hyperparameter. Most of the algorithm works well only with default values except decision tree.

## Conclusion
As we have implemented the Logistic Regression, Decision Tree and Random Forest algorithms to predict the accident severity. There are two things that we can conclude from this learning.

#### Machine Learning Conclusion
As we have tried three different algorithms to predict the accident severity. It was clear that Decision tree and Random Forest performed much better in terms of predicting all the classes of accident severity. Logistic regression has better accuracy but it does not mean it did better than other algorithm. We even tried multi-nomial to predict all the classes in hyperparameter tuning section. It still predicted only one of the higher occuring class.